* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ul, li, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder {
    font: lighter 14px/30px 'Microsoft YaHei', Arial;
}

/*CSS for phone in vertical origin*/
@media only screen and (max-device-width: 320px) and (max-device-width: 360px) {
    #gritter-notice-wrapper {
        width: 300px;
        right: 10px;
    }

    .gritter-image {
        width: 24px;
        height: 24px;
    }

    .gritter-close {
        display: block !important;
        z-index: 99999;
    }

    .gritter-with-image {
        width: 240px;
    }

    .gritter-title {
        padding-bottom: 4px;
    }
    .gritter-with-image h1 {
        margin: 0 0 4px 0;
        font-size: 16px;
    }

    .gritter-item {
        padding: 0.5em 0.5em 1em 0.5em;
    }

    nav li {
        width: 5em;
    }
}