/*login CSS for phone in vertical origin*/
@media only screen and (max-device-width: 320px) and (max-device-width: 360px) {
    div.banner {
        height: 111px;
        margin-bottom: 30px;
    }
    div.banner img {
        width: 280px;
    }

    #loginForm {
        margin: 0 auto 0.8em auto;
        padding: 0.5em 1em;
    }

    [name="username"],[name="password"] {
        width: 248px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }

    .item {
        margin-bottom: 0.6em;
    }

    .ui-button {
        width: 100%;
        line-height: 40px;
        height: 40px;
        margin-top: 14px;
    }

    #gritter-notice-wrapper {
        width: 300px;
        right: 10px;
    }

    .gritter-image {
        width: 24px;
        height: 24px;
    }

    .gritter-with-image {
        width: 240px;
    }

    .gritter-item {
        padding: 0.5em 0.5em 1em 0.5em;
    }
}